<li class="issue-item">
    <a class="title" href="{{ url_for('.articleDetails', id=article.id) }}">{{ article.title }}</a>
    <ul>
        <a href="{{ url_for('main.articleTypes', id=article.articleType.id) }}" target="_blank" style="color: white">
        <li class="tag tag-small" style="background-color: rgb(14, 138, 22);">
                {{ article.articleType.name }} 
        </li>
        </a>
    </ul>
    <span class='num_of_view'>{{ article.num_of_view }}</span>
    <span class='time'>{{ moment(article.create_time.date()).format('LL') }}</span>
    <div class="main-info" hidden="true">
        <span class="label label-primary">浏览 </span>
        <span class="label label-success">评论 {{ article.comments.count() }}</span>
    </div>
    <div class="article-entry-sum" hidden="ture">
        <p>{{ article.summary }}</p>
    </div>
</li>