{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    Blog_Heanrum -{{ article.title }}
{% endblock %}


{% block content %}
<div class="comment-container bga-back-top">
<div class='comment'>
    {% include '_article_list.html' %}
    <div class="comment-title">
        <div>
            <img src="https://avatars1.githubusercontent.com/u/12297711?s=40&v=4"> 
            <span>Heanrum</span>
        </div> 
        <span class="time">最后编辑: {{ moment(article.update_time.replace(microsecond=0)).format('MMMM Do YYYY, hh:mm:ss') }}
        </span>
    </div>
<div class="article-body">
        <p>
            {{ article.content | safe }}
        </p>
    {% if current_user.is_authenticated %}
    <div class="article-edit">
        <a href="{{ url_for('admin.editArticles', id=article.id) }}">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </button>
        </a>
    </div>
    {% endif %}
    <hr>
    <h4 id="comments"><span class="glyphicon glyphicon-comment">评论</span></h4>
    {% include "_article_comments.html" %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, id=id, fragment='#comments') }}
    </div>
    <h4  id="submit-comment"><span class="glyphicon glyphicon-comment">发表评论</span></h4>
    {% include "_submit_comment.html" %}
</div>
</div>
</div>
</div>
{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/extentsion_self/codesimple_extentsion/prism.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commentReply.js') }}"></script>
{% endblock %}
