<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    <link   type="image/x-icon"   href="{{url_for('static', filename='images/head.ico')}}"  rel="shortcut icon">
    <title>
        {% block title %}
        {{ BlogInfo.query.first().title }}
        {% endblock %}
    </title>
    {% block stylesheet %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body style="position: static; overflow: visible;">
<div class='app'>
    <div class='left-container'>
    <div class='left-layout-container'>
        <div class='user-info'>
            <img src="{{ url_for('static', filename='images/head.ico') }}"/>
            <div class="login-name">{{ BlogInfo.query.first().signature }}</div>
        </div>
        <ul class='other-site'>
            <li>
                <a href="https://github.com/heanrum" target="view_window">
                <img src="{{ url_for('static', filename='images/github.png') }}"/>
                </a>
            </li>
        </ul>
        <ul class='left-menu'>
            <li class="router-link-exact-active router-link-active selected-menu"> my blog</li>
            <li class=""> about me</li>
        </ul>
        <div class='other-message'>
        </div>
        <div class="copyright">@2018 Heanrum</div>
    </div>
    </div>
    <div class='blog-container main-container'>
        <ul class='label-list'>
            <li>
                <span class="tag" style="background-color: rgb(53, 147, 242);">
                    <a href="{{ url_for('main.index') }}">
                        全部
                    </a>     
                </span>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            </li>
            <li>
            {% for article_type in ArticleType.query.all() %}
                {% if not article_type.menu %}
                    {% if not article_type.is_hide %}
                <span class="tag tag-unchecked" style="">
                    <a href="{{ url_for('main.articleTypes', id=article_type.id) }}">
                        {{ article_type.name }}
                    </a>
                </span>
                    {% endif %}
                {% endif %}   
            {% endfor %}
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user.gravatar(size=18) }}">
                                {{ current_user.username }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.submitArticles') }}">发表博文</a></li>
                                <li><a href="{{ url_for('admin.account') }}">管理博客</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出登陆</a></li>
                            </ul>
                        </li>
                    {% endif %}
        </ul>

{% block Content %}
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-{{ category }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}
                {% endblock %}

                {% block blog_nav_plugin %}
                {% endblock %}
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/floatButton.js') }}"></script>
    {# csrfToken for Ajax   #}
    <script>
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken)
                }
            }
        })
    </script>
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}
</body>
</html>
